<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">

        <c-card-header class="d-flex align-items-center">
          <button *ngIf="showForm" cButton size="sm" (click)="toggleFormTable('table')">Back</button>
          <strong class="mx-2">{{showTable? "Branches" : "Add Branch"}}</strong> 
        </c-card-header>

        <c-card-body>

            <c-alert *ngIf="showAlert" color="warning">
              {{message}}
            </c-alert>

            <div *ngIf="showTable">
                <div class="w-100 d-flex justify-content-between">
                    <div class="w-100">
                      <button cButton class="my-2" color="primary" type="submit" (click)="toggleFormTable('form')">
                          Add Branch
                      </button>
                      <c-button-group aria-label="Basic example" role="group">
                        <button cButton class="" color="primary">PDF</button>
                        <button cButton class="" color="primary">Excel</button>
                      </c-button-group>
                    </div>
                    <div class="w-100 d-flex align-items-center">
                      <div class="w-100 me-1">
                        <select aria-label="Default select example" cSelect>
                          <option>Select Status</option>
                          <option value="1">Active</option>
                          <option value="2">Inactive</option>
                        </select>
                      </div>
                      <div class="w-100 me-1">
                        <input cFormControl
                          id="exampleFormControlInput1"
                          placeholder="Search..."
                          type="text"
                          />
                      </div>
                    </div>
                  </div>
                <table cTable>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Region</th>
                        <th scope="col">Manager</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let branch of branches, let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{branch.branch_name}}</td>
                        <td>{{branch.region}}</td>
                        <td>{{branch.first_name}} {{branch.last_name}}</td>
                        <td>{{branch.phone}}</td>
                        <td>{{branch.email}}</td>
                        <td>
                            <c-badge color="success">{{branch.status}}</c-badge>
                        </td>
                        <td>
                            <c-button-group aria-label="Basic example" role="group">
                                <button cButton color="primary">Update</button>
                                <button cButton color="primary">Del</button>
                            </c-button-group>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="showForm">
                <form [formGroup] = "branchForm" cForm class="my-2">

                    <div class="d-flex my-2">
                        <div class="w-100 me-1">
                          <!-- <label cLabel for="exampleFormControlInput1">First Name</label> -->
                          <input cFormControl
                            id="exampleFormControlInput1"
                            placeholder="Branch Name e.g Sinza"
                            type="text"
                            name="branch_name"
                            formControlName="branch_name"
                           />
                        </div>
                        <div class="w-100 ms-1">
                          <!-- <label cLabel for="exampleFormControlInput1">Last Name</label> -->
                          <select aria-label="Default select example" cSelect name="region"
                          formControlName="region">
                            <option>Select Region</option>
                            <option *ngFor="let region of regions" [value]="region.region_name">{{region.region_name}}</option>
                          </select>
                        </div>
                    </div>

                    <div class="d-flex my-2">
                        <div class="w-100 me-1">
                          <!-- <label cLabel for="exampleFormControlInput1">Email</label> -->
                          <input cFormControl
                            id="exampleFormControlInput1"
                            placeholder="jane@example.com"
                            type="email"
                            name="email"
                            formControlName="email"
                           />
                        </div>
                        <div class="w-100 ms-1">
                          <!-- <label cLabel for="exampleFormControlInput1">Phone Number</label> -->
                          <input cFormControl
                            id="exampleFormControlInput1"
                            placeholder="+255 788 999 233"
                            type="text"
                            name="phone"
                            formControlName="phone"
                           />
                        </div>
                    </div> 

                    <div class="d-flex my-2">
                        <div class="w-100 me-1">
                          <!-- <label cLabel for="exampleFormControlInput1">Last Name</label> -->
                          <select aria-label="Default select example" cSelect name="manager_id"
                          formControlName="manager_id">
                            <option>Select Branch Manager</option>
                            <option *ngFor="let user of users" value={{user.id}}>{{user.first_name}} {{user.last_name}}</option>
                          </select>
                        </div>
                        <div class="w-100 me-1">
                          <!-- <label cLabel for="exampleFormControlInput1">First Name</label> -->
                          <!-- <input cFormControl
                            id="exampleFormControlInput1"
                            placeholder="Username"
                            type="text"
                           /> -->
                        </div>
                    </div>

                                                         
                </form>
            </div>
            
        </c-card-body>

        <c-card-footer>
            <div *ngIf="showForm" class="d-flex flex-row-reverse">
              <button cButton color="primary" (click)="createBranch()">
                  <c-spinner *ngIf="isLoading" size="sm"></c-spinner>
                  Save
                </button>
            </div>
            <div *ngIf="showTable" class="d-flex flex-row-reverse">
                <span>All Branches</span>
            </div>
        </c-card-footer>

      </c-card>

    </c-col>
    
</c-row>