<c-row>

    <c-col lg="3" xs="12">
      <c-widget-stat-f
        [title]="'Total Income'"
        class="mb-3"
        color="primary"
        padding
        value={{totalIncome}}>
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
        </ng-template>
      </c-widget-stat-f>
    </c-col>

    <c-col lg="3" xs="12">
      <c-widget-stat-f
        [title]="'Total deliveries'"
        class="mb-3"
        color="warning"
        padding
        value={{totalDeliveries}}>
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
        </ng-template>
      </c-widget-stat-f>
    </c-col>

    <c-col lg="3" xs="12">
      <c-widget-stat-f
        [title]="'on transit'"
        class="mb-3"
        color="primary"
        padding
        value={{onTransit}}>
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
        </ng-template>
        <ng-template cTemplateId="widgetFooterTemplate">
          <a class="font-weight-bold font-xs text-medium-emphasis"
             href="https://coreui.io/angular"
             target="_blank">
             <div class="d-flex align-items-center justify-content-between">
              <span>View more</span>
              <svg [cIcon]="icons.cilArrowRight" width="16"></svg>
            </div> 
          </a>
        </ng-template>
      </c-widget-stat-f>
    </c-col>

    <c-col lg="3" xs="12">
      <c-widget-stat-f
        [title]="'arrived'"
        class="mb-3"
        color="warning"
        padding
        value={{arrived}}>
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
        </ng-template>
        <ng-template cTemplateId="widgetFooterTemplate">
          <a class="font-weight-bold font-xs text-medium-emphasis"
             href="https://coreui.io/angular"
             target="_blank">
            <div class="d-flex align-items-center justify-content-between">
              <span>View more</span>
              <svg [cIcon]="icons.cilArrowRight" width="16"></svg>
            </div> 
          </a>
        </ng-template>
      </c-widget-stat-f>
    </c-col>

</c-row>

<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Parcels Arriving Today</c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border">
            <thead cTableColor="light">
              <tr>
                <!-- <th class="text-center">
                  <svg cIcon name="cilPeople"></svg>
                </th> -->
                <th>Pacakge</th>
                <th>Sender</th>
                <th>Reciever</th>
                <th>Status</th>
                <!-- <th>Activity</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let todayArrival of todayArrivals; index as i">
                <!-- <td class="text-center">
                  <c-avatar
                    size="md"
                    src="{{ user.avatar }}"
                    status="{{ user.status }}"
                  ></c-avatar>
                </td> -->
                <td>
                  <div>{{ todayArrival.tracking_code }}</div>
                  <div class="small text-medium-emphasis text-nowrap">
                    <span>
                      {{ todayArrival.state }} | Value: {{ todayArrival.package_value }}
                    </span>
                  </div>
                </td>
                <td>
                  <div>{{ todayArrival.sender_first_name }} {{ todayArrival.sender_last_name }}</div>
                  <div class="small text-medium-emphasis text-nowrap">
                    <span>
                      {{ todayArrival.sender_phone }} | {{ todayArrival.from_branch_name }} {{ todayArrival.from_region }}
                    </span>
                  </div>
                </td>
                <td>
                <div>{{ todayArrival.reciever_first_name }} {{ todayArrival.reciever_last_name }}</div>
                  <div class="small text-medium-emphasis text-nowrap">
                    <span>
                        {{ todayArrival.reciever_phone }} | {{ todayArrival.to_branch_name }} {{ todayArrival.to_region }}
                    </span>
                  </div>
                </td>
               
                <td>
                    <c-badge color="secondary">{{todayArrival.delivery_status}}</c-badge>
                </td>
                <!-- <td>
                  <div class="small text-medium-emphasis">Last login</div>
                  <div class="fw-semibold text-nowrap">{{ user.activity }}</div>
                </td> -->
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
</c-row>