<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">

        <c-card-header class="d-flex align-items-center">
          <button *ngIf="showForm" cButton size="sm" (click)="toggleFormTable('table')">Back</button>
          <strong class="mx-2">{{showTable? "Users" : "Add User"}}</strong> 
        </c-card-header>

        <c-card-body>

            <c-alert *ngIf="showAlert" color="warning">
              {{message}}
            </c-alert>

            <div *ngIf="showTable">
                <button cButton class="my-2" color="primary" type="submit" (click)="toggleFormTable('form')">
                    Add User
                </button>
                <table cTable>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Last Login</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users, let i = index">
                          <th scope="row">{{i+1}}</th>
                          <td>{{user.first_name}} {{user.last_name}}</td>
                          <td>{{user.username}}</td>
                          <td>{{user.email}}</td>
                          <td>{{user.phone}}</td>
                          <td></td>
                          <td>{{user.last_login}}</td>
                          <td>
                              <c-badge color="success">{{user.status}}</c-badge>
                          </td>
                          <td>
                              <c-button-group aria-label="Basic example" role="group">
                                  <button cButton color="primary">Update</button>
                                  <button cButton color="primary">Del</button>
                              </c-button-group>
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="showForm">
                <form [formGroup] = "userForm" cForm class="my-2">

                    <div class="d-flex my-2">
                        <div class="w-100 me-1">
                          <!-- <label cLabel for="exampleFormControlInput1">First Name</label> -->
                          <input cFormControl
                            id="exampleFormControlInput1"
                            placeholder="Jane Doe"
                            type="text"
                            formControlName="first_name" 
                            name="first_name" 
                           />
                           
                        </div>
                        <div class="w-100 ms-1">
                          <!-- <label cLabel for="exampleFormControlInput1">Last Name</label> -->
                          <input cFormControl
                            id="exampleFormControlInput1"
                            placeholder="John Love"
                            type="text"
                            name="last_name"
                            formControlName="last_name"
                           />
                        </div>
                    </div>

                    <div class="d-flex my-2">
                        <div class="w-100 me-1">
                          <!-- <label cLabel for="exampleFormControlInput1">First Name</label> -->
                          <input cFormControl
                            id="exampleFormControlInput1"
                            placeholder="Username"
                            type="text"
                            name="username"
                            formControlName="username"
                           />
                        </div>
                        <div class="w-100 ms-1">
                          <!-- <label cLabel for="exampleFormControlInput1">Last Name</label> -->
                          <select aria-label="Default select example" cSelect formControlName="role">
                            <option disabled selected>Select Role</option>
                            <option value="admin">Admin</option>
                            <option value="ordinary user">Ordinary User</option>
                          </select>
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="mb-3 w-100 me-1">
                          <!-- <label cLabel for="exampleFormControlInput1">Email</label> -->
                          <input cFormControl
                            id="exampleFormControlInput1"
                            placeholder="jane@example.com"
                            type="email"
                            formControlName="email"
                            name="email"
                           />
                        </div>
                        <div class="mb-3 w-100 ms-1">
                          <!-- <label cLabel for="exampleFormControlInput1">Phone Number</label> -->
                          <input cFormControl
                            id="exampleFormControlInput1"
                            placeholder="+255 788 999 233"
                            type="text"
                            name="phone"
                            formControlName="phone"
                           />
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="mb-3 w-100 me-1">
                          <select aria-label="Default select example" cSelect formControlName="region">
                            <option>Select Region</option>
                            <option value="dar es salaam">Dar Es Salaam</option>
                            <option value="mwanza">Mwanza</option>
                            <option value="mbeya">Mbeya</option>
                            <option value="dodoma">Dodoma</option>
                          </select>
                        </div>
                        <div class="mb-3 w-100 ms-1">
                          <select aria-label="Default select example" cSelect formControlName="branch_id">
                            <option>Select Branch</option>
                            <option *ngFor="let branch of branches" [value]="branch.branch_id">{{branch.branch_name}}</option>
                          </select>
                        </div>
                    </div>                                       
                </form>
            </div>
            
        </c-card-body>

        <c-card-footer>
            <div *ngIf="showForm" class="d-flex flex-row-reverse">
              <button cButton color="primary" type="submit" (click)="createUser()">
                  <c-spinner *ngIf="isLoading" size="sm"></c-spinner>
                  Save
                </button>
            </div>
            <div *ngIf="showTable" class="d-flex flex-row-reverse">
                <span>All Users</span>
            </div>
        </c-card-footer>

      </c-card>

    </c-col>

</c-row>